<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
        <li>
            <a href="{% url 'user_dateil' product.pk %}">{{ user.name, user.last_name }}</a>
            - years{{user.age}}
            {% if user.is_admin %}
            (is admin)
            {%else%}
            (is not admin)
            {%endif%}
        </li>
        {%empty%}
        <li>No users available</li>
        {% endfor %}
    </ul>
</body>
</html>